# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3

# Media and static files
media/
staticfiles/

# Tailwind CSS
tailwindcss.exe
tailwindcss
node_modules/

# Local environment files
.env
.env.*

# IDE and system files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

guide/

userapp\management\commands\create_sample_users.py
userapp/management/commands/set_random_activity.py
